name: Java Selenide + Cucumber + Allure Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      selenium:
        image: selenium/standalone-chrome:115.0
        ports:
          - 4444:4444

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run tests
        env:
          SELENIDE_REMOTE: "http://localhost:4444/wd/hub"
          SELENIDE_BROWSER: "chrome"
          SELENIDE_HEADLESS: "true"
        run: |
          mvn clean test -B \
            -Dselenide.remote=$SELENIDE_REMOTE \
            -Dselenide.browser=$SELENIDE_BROWSER \
            -Dselenide.headless=$SELENIDE_HEADLESS \
            -Pallure

      - name: Generate Allure report
        run: |
          mvn allure:report

      - name: Upload Allure report
        uses: actions/upload-artifact@v3
        with:
          name: allure-report
          path: target/site/allure-maven/index.html
